@{
    ViewData["Title"] = "Home";
}

@{
    var cards = new HomeCardViewModel[3]
    {
new HomeCardViewModel
{
Header = "Services",
Title = "Manage and monitor system services",
Text = "View current service status (running or stopped), and start or stop individual services as needed.",
ButtonText = "Open Service Page",
Controller = "Service",
Action = "Index"
},
new HomeCardViewModel
{
Header = "Archive",
Title = "Archive files and folders",
Text = "Browse and download archived files and folders from available system paths.",
ButtonText = "Open Archive Page",
Controller = "Archive",
Action = "Index"
},
new HomeCardViewModel
{
Header = "Shutdown",
Title = "Shutdown system",
Text = "Immediately power off the system. All operations will stop.",
ButtonText = "Open Shutdown Page",
Controller = "Home",
Action = "Shutdown",
Danger = true
}
    };
}


<h1 class="display-4 mb-4">
    Welcome
</h1>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xg-4 g-4">

    @foreach (var card in cards)
    {
        <div class="col">
            <partial name="_HomeCard" model="card" />
        </div>
    }
</div>
