@{
    ViewData["Title"] = "Shutdown";

    var confirmationAlert = new ConfirmationAlertViewModel
    {
        Header = "You are about to <span class=\"fw-bold text-danger\">shutdown</span> the system immediately.",
        Body = "This will stop all running services and may interrupt critical processes. Are you sure you want to proceed?",
        Button = "Confirm Shutdown",
        Action = "ShutdownSystem",
        Icon = "bi-exclamation-triangle-fill",
        Color = "danger"
    };
}

<h3 class="display-4 mb-4">Shutdown</h3>

<partial name="_ConfirmationAlert" model="confirmationAlert" />
