@{
    ViewData["Title"] = "Shutdown";
}

<h3 class="display-4 mb-4">Shutdown</h3>

<p class="fs-5">You sure want to <span class="fw-bold">Shutdown</span> ?</p>

<form asp-action="ShutdownSystem" method="post">
    <button type="submit" class="btn btn-danger">Confirm</button>
</form>
