@model ServiceViewModel;
@{
    ViewData["Title"] = "Services";
}

<h3 class="display-4 mb-4">Services</h3>

<ul class="list-group shadow-sm">

    @foreach (var service in Model.Services)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">

            <div class="d-flex align-items-center gap-2">
                @if (service.Running)
                {
                    <i title="Running" class="bi bi-check-circle-fill fs-3 text-success"></i>
                }
                else
                {
                    <i title="Stopped" class="bi bi-x-circle-fill fs-3 text-danger"></i>
                }

                <div class="vr mx-2 d-block"></div>

                <p class="fw-bold text-break mb-0">@service.Name</p>
            </div>


            @if (service.Running)
            {
                <a title="Stop" class="btn btn-link btn-sm px-2 px-md-3" asp-area="" asp-controller="Service" asp-action="Stop"
                    asp-route-name="@service.Name">
                    <i class="bi bi-stop-fill fs-4"></i>
                </a>
            }
            else
            {
                <a title="Start" class="btn btn-link btn-sm px-2 px-md-3" asp-area="" asp-controller="Service"
                    asp-action="Start" asp-route-name="@service.Name">
                    <i class="bi bi-play-fill fs-4"></i>
                </a>
            }
        </li>
    }
</ul>
