@model ServiceViewModel;
@{
    ViewData["Title"] = "Services";
}

<h3 class="display-4 mb-4">Services</h3>

<ul class="list-group shadow-sm">

    @foreach (var service in Model.Services)
    {
        <a asp-controller="Service" 
           asp-action="Details"
           asp-route-name="@service.Name" 
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">

            <div class="d-flex align-items-center gap-2">

                <partial name="_ServiceStatusIcon" model="service.Status" />

                <div class="vr mx-2 d-block"></div>

                <div class="d-flex flex-column py-1 gap-1">
                    <p class="fw-bold text-break text-body mb-0">@service.DisplayName</p>

                    <small class="text-muted text-truncate">@service.Name</small>
                </div>
            </div>

            <i class="bi bi-three-dots fs-4"></i>
        </a>
    }
</ul>
