@model ServiceStatusViewModel;
@{
    ViewData["Title"] = "Start";
}

<h3 class="display-4 mb-4">Start</h3>

<p class="fs-5">You sure want to <span class="fw-bold text-success">Start</span> service <span
        class="fw-bold">@Model.Name</span> ?
</p>

<form asp-action="StartService" method="post">
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>