@model ServiceStatusViewModel;
@{
    ViewData["Title"] = $"Start \"{Model.Name}\"";
    
    var confirmationAlert = new ConfirmationAlertViewModel
    {
        Header = "Start service",
        Body = $"Are you sure you want to <span class=\"fw-bold text-dark\">Start</span> the service <span class=\"fw-bold text-primary\">{Model.Name}</span> ?",
        Button = "Confirm Start",
        Action = "StartService",
        Icon = "bi-play-circle-fill",
        Color = "success"
    };
}

<h3 class="display-4 mb-4">Start</h3>

<partial name="_ConfirmationAlert" model="confirmationAlert" />
