@model ServiceStatusViewModel;
@{
    ViewData["Title"] = $"Stop Service \"{Model.Name}\"";

    var confirmationAlert = new ConfirmationAlertViewModel
    {
        Header = "Stop service",
        Body = $"Are you sure you want to <span class=\"fw-bold\">Stop</span> the service <span class=\"fw-bold text-body\">{Model.DisplayName}</span> ?",
        Button = "Confirm Stop",
        Action = "StopService",
        Icon = "bi-stop-circle-fill",
        Color = "danger",
        QueryName = Model.Name
    };
}

<h3 class="display-4 mb-4">Stop</h3>

<partial name="_ConfirmationAlert" model="confirmationAlert" />
